.widget {
  margin: 0 0 15px;
  padding: 15px;

  color: $color-light;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.5);
}
.widget h3 {
  margin-top: 5px;
  padding-bottom: 10px;

  letter-spacing: 1.5px;

  border-bottom: 1px solid #333333;

  font-family: "Lora", serif;
  font-weight: 300;
}
.widget p {
  line-height: 2em;
}
.widget p:last-child {
  margin-bottom: 0;
}

.widget-search form {
  position: relative;

  margin: 15px 0 7px;
}
.widget-search__input {
  width: 100%;
  padding: 7px 8px 7px 40px;

  text-overflow: ellipsis;

  color: $color-gray;
  border: 1px solid rgba(238, 238, 238, 0.15);
  border-radius: 4px;
  background: rgba(238, 238, 238, 0.1);

  font-size: 0.85rem;

  -o-text-overflow: ellipsis;
}
.widget-search__input:focus {
  color: #eeeeee;
  border: 1px solid rgba(238, 238, 238, 0.3);
  outline: none;
  background: rgba(238, 238, 238, 0.2);
}

.widget-search__input::placeholder {
  color: $color-gray;
}
.widget-search__submit {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;

  padding: 5px 7px;

  cursor: pointer;

  color: $color-light;
  border: none;
  border-right: 1px solid rgba(238, 238, 238, 0.1);
  background-color: transparent;
}
.widget-search__submit:focus {
  outline: none;
}

.widget-categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.widget-categories__item a {
  display: block;

  padding: 5px 0;
  transition: padding-left 0.5s;

  border-radius: 4px;
}
.widget-categories__item a:hover {
  padding-left: 10px;

  color: $color-accent;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}