.header-menu {
}

.bg {
	position: absolute;
	z-index: -1;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	transition: opacity 1s ease 0s;
	opacity: 0.9;
	background-color: #d8b036;
	background-image: url(../../img/global-bg.jpg);
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
}

.header {
}
.header-logo {
}
.header-logo__image {
}
.header-logo__title {
}
.header-logo__description {
}
.header-menu {
}
.header-menu__btn {
}
.header-menu__btn-row {
}
.header-menu__list {
}
.header-menu__list-item {
}
.active {
}